:root {
  --novel-black: rgb(0 0 0);
  --novel-white: rgb(255 255 255);
  --novel-stone-50: rgb(250 250 249);
  --novel-stone-100: rgb(245 245 244);
  --novel-stone-200: rgb(231 229 228);
  --novel-stone-300: rgb(214 211 209);
  --novel-stone-400: rgb(168 162 158);
  --novel-stone-500: rgb(120 113 108);
  --novel-stone-600: rgb(87 83 78);
  --novel-stone-700: rgb(68 64 60);
  --novel-stone-800: rgb(41 37 36);
  --novel-stone-900: rgb(28 25 23);

  --novel-highlight-default: #ffffff;
  --novel-highlight-purple: #f0ebf6;
  --novel-highlight-red: #f6e9e9;
  --novel-highlight-yellow: #f0eee7;
  --novel-highlight-blue: #e8eff1;
  --novel-highlight-green: #e7f0e9;
  --novel-highlight-orange: #f3ede8;
  --novel-highlight-pink: #f5eaf2;
  --novel-highlight-gray: #edeeee;

  --font-title: "Cal Sans", sans-serif;
}

.dark-theme {
  --novel-black: rgb(255 255 255);
  --novel-white: rgb(25 25 25);
  --novel-stone-50: rgb(35 35 34);
  --novel-stone-100: rgb(41 37 36);
  --novel-stone-200: rgb(66 69 71);
  --novel-stone-300: rgb(112 118 123);
  --novel-stone-400: rgb(160 167 173);
  --novel-stone-500: rgb(193 199 204);
  --novel-stone-600: rgb(212 217 221);
  --novel-stone-700: rgb(229 232 235);
  --novel-stone-800: rgb(232 234 235);
  --novel-stone-900: rgb(240, 240, 241);

  --novel-highlight-default: #1f2d32;
  --novel-highlight-purple: #8553a6;
  --novel-highlight-red: #b34242;
  --novel-highlight-yellow: #876200;
  --novel-highlight-blue: #376e89;
  --novel-highlight-green: #38744b;
  --novel-highlight-orange: #a94f17;
  --novel-highlight-pink: #9e4791;
  --novel-highlight-gray: #5c6b70;
}

@font-face {
  font-family: "Cal Sans";
  src: local("Cal Sans"), url(CalSans-SemiBold.otf) format("otf");
}
